* {
  box-sizing: border-box;
}

.box {
  display: flex;
  padding: 20px;
}

.js-toggle-overlay {
  width: 100px;
  height: 100px;
  margin-right: 10px;
  padding-top: 40px;
  text-align: center;
  background: #eee;
  cursor: pointer;
  border: 1px solid #ddd;

  &:last-of-type {
    margin-right: 10px;
  }
}
